@import "../styles/variables.scss";

.header {    
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e6e5e5;
    min-height: 156px;
    /* left: 0;    
    height: 162px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    overflow-x: hidden     */

}

.logo {
    /* margin: 5px;
    padding: 5px; */    
    align-self: center;
    .logo__img{
        width: 270px;
        padding: 16px 42px;
    }    
} 


.container{
    // background-color: var(--green-color);
    height: calc(100vh - 161px );
    min-height: 411.5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    // justify-content: space-between;
    // flex-direction: row;
    // overflow-x: hidden ;
    //background-color: rgb(63, 113, 206);    
}

.block{
    display: flex;
    flex-direction: column;
}

.styleSvg{
   height: 30px;
    width: 30px;
}


.dropdown {
    position: relative;
    margin-bottom: 10px;
    
  }
  
  .menu {
    
  
    list-style-type: none;
  
    border: 1px solid grey;
    width: 100%;
    border-radius: 5px;
    
    list-style-type: none;
    margin: -10px 0 10px 0 ;
    padding: 0;
    
  }
  
  .menu > li {
    margin: 0;
    border-radius: 5px;
    background-color: white;
  }
  
  .menu > li:hover {
    background-color: lightgray;
    
  }
  
  .menu > li > button {
    width: 100%;
    height: 100%;
    text-align: center;
  
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
  }


  .btn{
    border-radius:5px;
    border: 1px solid var(--grey-color);
    transition: .3s border-color;    
    width: 100%;        
    margin:10px 0;
    font-family: var(--main-font-family);
    font-size: 16px;
    height: 35px;

    
  }
  
  .butn{
    font-family: var(--main-font-family);
    font-size: 14px;
  }


  input{
    border-radius:5px;
    border: 1px solid var(--grey-color);
    transition: .3s border-color;    
    height: 25px;
    font-family: var(--main-font-family);
    font-size: 14px;

    

  }

  
  
  .navbtn{
    margin-bottom: 20px;
  }

.textInput{
    padding-left: 10px;
    font-size: 16px;
    height: 30px;
    
}

.space{
    margin-bottom: 20px;
    width: 100%;
}

.hashBtn{
  margin-top: 10px;
  height: 25px;
}