// Общие стили футера
.footer {
    padding: 50px 0 0;
    background-color: var(--footer-color);
    width: 100%;
    display: flex;
  
    .footer__row {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }
  
  // Верхняя часть футера (контакты)
  .contact {
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
    background-color: var(--footer-color);
    display: grid;
    grid-template-columns: 432px repeat(2, 1fr); // По умолчанию три колонки
    grid-gap: 20px;
  
    .contact__block1,
    .contact__block2,
    .contact__block3 {
      padding: 15px;
      border-right: 1px solid hsla(0, 0%, 43.9%, 0.341);
      text-align: left; // Текст выровнен по левому краю
      word-wrap: break-word; // Перенос слов
    }
  
    .contact__block1 {
      border-right: 1px solid hsla(0, 0%, 43.9%, 0.341);
    }
  
    .contact__block2 {
      border-right: 1px solid hsla(0, 0%, 43.9%, 0.341);
    }
  
    .contact__block3 {
      border-right: none; // Последний блок без линии
      text-align: center;
    }
  
    .contact__text {
      text-align: center;
      padding-bottom: 20px;
    }
  }
  
  // Ссылки
  .link {
    display: flex;
    flex-direction: column; // Элементы размещаются вертикально
    gap: 10px; // Расстояние между элементами
  
    .link__main {
      font-size: 16px;
      line-height: 1.5;
      color: hsla(0, 0%, 100%, 0.6);
      text-decoration: underline;
    }
  
    .link__spacing {
      margin-bottom: 5px;
    }
  }
  
  // Нижний блок копирайта
  .copyright {
    // background-color: #27312E;
    width: 100%;
    padding: 20px 0;
    
  
    .copyright__block {
      text-align: center;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  
  // Адаптивная версия для экранов <768px
  @media (max-width: 768px) {
    .contact {
      grid-template-columns: 1fr; // Переключение на одну колонку
      grid-gap: 15px;
      
  
      .contact__block1,
      .contact__block2,
      .contact__block3 {
        border-right: none; // Убираем линии между колонками
        padding: 10px; // Увеличиваем внутренние отступы для лучшего отображения        
        text-align: left;
      }
      .contact__text{
        text-align: left;
        padding-bottom: 20px;
        color: #ffff;
      }
    }
  
    .footer {
      padding: 20px 10px; // Уменьшаем общий отступ для мобильных устройств
    }
  }
  

//   @media (max-width: 1024px) {
//     .contact__block1{
//         padding-right: 200px;
//     }

//   }