@import "../styles/variables.scss";

// Общий стиль хедера
.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e5e5;
  min-height: 80px; // Уменьшенная высота для маленьких экранов
  padding: 10px 20px; // Отступы внутри
//   background-color: rgb(204, 201, 201);
}

// Логотип
.logo {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo__img {
    width: 250px; // Уменьшенный размер логотипа для адаптивности
    padding: 10px;
  }
}

// Блок с кнопками и текстом
.rightBlock {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; // Пространство между элементами
  background-color: transparent; // Убираем тестовые цвета

  .rightBlock__content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
  }

  .rightBlock__text {
    // font-size: 14px; // Уменьшенный шрифт для мобильных устройств
    text-transform: uppercase;
    white-space: nowrap;
    margin-right: 10px;
  }
}

// Кнопки админа и личного кабинета
.adminbtn,
.lkbtn {
  margin-right: 10px;

  a {
    // font-size: 14px;
    text-decoration: none;
    color: var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--button-bg-color);

    &:hover {
      background-color: var(--button-hover-bg-color);
    }
  }
}

// Адаптивность
@media (max-width: 1024px) {
  .logo .logo__img {
    width: 120px; // Еще меньше логотип на средних экранах
  }

  .rightBlock {
    flex-wrap: wrap;
    justify-content: center; // Центрируем элементы
    gap: 5px;
  }

  .adminbtn,
  .lkbtn {
    // margin-top: 10px;
    margin-right: 5px;
  }
  .logo__img {
    width: 350px; // Уменьшенный размер логотипа для адаптивности
 
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px; // Уменьшенные отступы для мобильных устройств
  }
  .logo__img {
    width: 130px; // Уменьшенный размер логотипа для адаптивности

  }

  .logo {
    margin-bottom: 10px;
  }

  .rightBlock {
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    // .rightBlock__text {
    //   font-size: 12px; // Меньший шрифт текста для компактности
    // }
  }
}

@media (max-width: 1024px) {
    .logo__img {
        width: 160px; // Уменьшенный размер логотипа для адаптивности
    
      }
}

@media (max-width: 1440px) {
    .logo__img {
        width: 270px; // Уменьшенный размер логотипа для адаптивности
        
      }
}
